<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="OracleConnection"
     connectionString="DATA SOURCE=live;PASSWORD=mackays;PERSIST SECURITY INFO=True;USER ID=mackays" providerName="Oracle.ManagedDataAccess.Client"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>