<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SqlDirectory" value="./sql/" />
    <add key="ExchangeRateXMLLocation" value="http://www.hmrc.gov.uk/softwaredevelopers/rates/exrates-monthly-" />
    <add key="CountryCodesToRecord" value="US;CA;HK;GB" />
  </appSettings>
  <connectionStrings>
    <add name="OracleConnection"
     connectionString="DATA SOURCE=test;PASSWORD=mackays;PERSIST SECURITY INFO=True;USER ID=mackays" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>